{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}"> 
</head>
<body>
    <div class="container">
        <div class="text_title">Test Search API</div>
        <div class="search_box">
            <form method="POST" action="{% url 'send_api' %}">
                {% csrf_token %}
                <input type="search" name="q" id="search" placeholder="Search..." class="search_input">
                <button type="submit" class="search_button">Search</button>
            </form>
        </div>
        <div class="data_container">
            {%for i in data%}
                <div class="data">{{i}}</div>
            {%endfor%}

        </div>
    </div>
</body>
</html>